* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.container {
    max-width: 992px;
    width: 100%;
    margin: auto;

    display: flex;
}

header {
    background-color: #122A57;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
}

header .container {
    align-items: center;
    justify-content: space-between;
}

header h1 {
    cursor: pointer;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu ul li a {
    color: #fff;
}

.about .container {
    height: 90vh;
    align-items: center;
    justify-content: space-between;

}

.about .container .about-write {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.about .container .about-write h1 {
    color: #122A57;
    font-size: 48px;
    /* margin-bottom: 10px; */
}

.about .container .about-write p {}

.about .container .about-write a {
    background-color: #122A57;
    color: #fff;
    border-radius: 30px;
    display: flex;
    width: 220px;
    height: 50px;
    align-items: center;
    justify-content: center;
}